.commercant-item-map {
  height: 350px;
  margin: 0 0 20px;
  width: 100%;
}

/* fix bug max-with google maps */

.commercant-item-map img{
max-width: none;
}

.commercant-item-map label {
width: auto; display: inline;
}

.info_gmaps {
  overflow: hidden;
  padding: 10px 5px;
  width: 300px;
}

.info_gmaps_photo {
float:left;
margin:0 20px 20px 0;
}

.info_gmaps p {
margin:0;
}

/* diaporama */

.owl-carousel-commercant-single .owl-controls .owl-buttons div {
	background:none repeat scroll 0 0 transparent;
	border-radius:30px;
	color:#666666;
	display:inline-block;
	font-size:28px;
	line-height:28px;
	margin:0 0 0 5px;
	opacity:0.5;
	padding:0 5px;
}
.owl-carousel-commercant-single .owl-buttons {
	position:absolute;
	right:0;
	text-align:right;
	top: -47px;
	display:none;
}

.owl-carousel-commercant-single .owl-item {
text-align:center;
}

/* tags */

.commercant-tag-list {
margin:0 0 15px 0 !important;
padding:0 !important;
}

.commercant-tag-list,
.commercant-tag-list li {
list-style:none outside none !important;
}

.commercant-tag-list li {
display:inline-block;
border: 1px solid #DEDEDE;
padding:0;
margin:0 10px 0 0;
}

.commercant-tag-list li a {
display:inline-block;
float: left;
height: 38px;
line-height: 38px;
margin: 0;
padding: 0 20px;
}

/* single */

.owl-carousel-commercant-single {
margin:0 0 30px 0;
}

.hentry.commercant p,
.commercant-item-description-generale p,
.commercant-item-description-generale ul,
.thumb-commercant-single img.attachment-thumbnail.wp-post-image,
.single-commercant .commercant-listing-categories,
.commercant-single-identite p {
margin:0 0 10px 0;
}

.post-entry-with-image .commercant-single-thumb {
float:left;
width:150px;
margin:0 0 20px 0;
}

.post-entry-with-image .commercant-single-identite {
padding-left:170px;
}

.commercant-single-thumb img{
max-height:150px;
max-width:150px;
}

.commercant-table-horaires th,.commercant-table-horaires td {
  border: 1px solid #DDDDDD;
  font-size: 13px;
  padding: 7px !important;
}

.single-commercant h3 {
font-size: 18px;
margin: 0;
padding: 20px 0;
}


.commercant-single-identite h2.entry-title {
margin:0;
font-size:24px;
}

.commercant-actus-list-item-thumb {
float:left;
width:30%;
}

/* actus commercant */

.commercant-actus-list-item {
  border: 1px solid #DEDEDE;
  margin: 0 0 20px;
  padding: 20px 20px 5px 20px;
}
.commercant-actus-list-item-thumb img.attachment-thumbnail {
margin:0;
}

.commercant-actus-list-item-content {
float:left;
width:70%;
}

.commercant-actus-list-item-content h3 {
padding:0;
margin:0 0 15px 0;
}

/* archives */

.commercant-tax-category {
	width:33%;
	float:left;
	color:#fff;
	padding:0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;      
	margin:0;
}

.commercant-tax-category .commercant-tax-category-inner {
	margin:0 5px;
	padding:0px;
	border:1px solid #E7E7E7;
	color:#666;
}

.commercant-tax-category .commercant-tax-category-inner p {
  color: #999999;
  font-size: 12px;
  line-height: 1.3;
  margin: 10px;
}

.commercant-tax-category .commercant-tax-category-inner h2 {
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 0 0 15px;
  padding: 0 10px;
}

.commercant-tax-category .commercant-tax-category-inner ul {
	margin:20px 30px;
	padding:0;
	list-style-type:none outside none;
}

.commercant-tax-category .commercant-tax-category-inner ul li {
	margin:0;
	padding:0;
	list-style:none outside none !important;
}

.commercant-tax-category .commercant-tax-category-inner a {
	background: url("../images/link-arrow.png") no-repeat scroll left center transparent;
	color:#666 !important;
	display: block;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding-left: 15px;
}

.commercant-tax-category-count {
  border-left: 1px solid #FFFFFF;
  float: right;
  height: 40px;
  line-height: 40px;
  margin: 0 0 0 20px;
  padding: 0 15px;
  color:#fff;
}

.commercant-item-adresse {
font-weight:bold;
font-size:13px;
}

/* taxonomy */

.tax-cat_commercant .post-entry  {
	border-bottom: 1px solid #EAEAEA;
	overflow: hidden;
	padding: 20px 0;
	position: relative;
}

.tax-cat_commercant .post-entry .commercant-listing-title {
	margin:0;
}

.tax-cat_commercant .post-entry .commercant-listing-title a {
  font-size: 18px;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.tax-cat_commercant .post-entry div.commercant-listing-image {
  float: left;
  position: relative;
  width: 140px;
}

.tax-cat_commercant .post-entry div.commercant-listing-image img {
	margin:0 !important;
}

.tax-cat_commercant .post-entry div.commercant-listing-body {
  float: left;
  overflow: hidden;
  padding: 0;
  width: 440px;
}

.tax-cat_commercant .post-entry-with-image div.commercant-listing-body {
  padding: 0 20px;
}

.tax-cat_commercant .post-entry .commercant-item-description-generale p {
margin:0;
}

.tax-cat_commercant .post-entry .commercant-listing-categories,
.tax-cat_commercant .post-entry .commercant-item-description-courte {
margin:0 0 10px 0;
}

/* micro clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* *********************************************************************************************************************
 * Common columns definitions
 */
.commercant-col1, .commercant-col2, .commercant-col3, .commercant-col4, .commercant-col5, .commercant-col6, .commercant-col7, .commercant-col8, .commercant-col9, .commercant-col10, .commercant-col11, .commercant-col12 {
	float: left;
	margin: 0 3% 0 0;
}

.commercant-col1.last, .commercant-col2.last, .commercant-col3.last, .commercant-col4.last, .commercant-col5.last, .commercant-col6.last, .commercant-col7.last, .commercant-col8.last, .commercant-col9.last, .commercant-col10.last, .commercant-col11.last, .commercant-col12 {
	margin: 0;
}

.commercant-col1 { width: 5.5%; }
.commercant-col2 { width: 14%; }
.commercant-col3 { width: 22.5%; }
.commercant-col4 { width: 31%; }
.commercant-col5 { width: 39.5%; }
.commercant-col6 { width: 48%; }
.commercant-col7 { width: 56.5%; }
.commercant-col8 { width: 65%; }
.commercant-col9 { width: 73.5%; }
.commercant-col10 { width: 82%; }
.commercant-col11 { width: 90.5%; }
.commercant-col12 { width: 99%; margin: 0; }



/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 768px) {
	.onerow {
	}

	.commercant-col1, .commercant-col2, .commercant-col3, .commercant-col4, .commercant-col5, .commercant-col6, .commercant-col7, .commercant-col8, .commercant-col9, .commercant-col10, .commercant-col11 {
		float: none;
		width: 99%;
	}
}